<ion-header>
</ion-header>
<div class="overlay" [hidden]="overlayHidden"></div>
<ion-content padding class="container">

  <div class="randomButton">
    <button [hidden]="overlayHidden == false || randomItem" ion-button block large (click)="pickItem();startTimer()">Random word</button>
  </div>
    <p [hidden]="overlayHidden == false" class="randomItem" *ngIf="randomItem" center>{{randomItem}}</p>
    <p [hidden]="overlayHidden == false" class="timer" *ngIf="randomItem">{{timer.displayTime}}</p>
    
    
    <ion-fab [hidden]="overlayHidden == false" class="photoButton" bottom right *ngIf="randomItem" color="dark">
      <button [hidden]="overlayHidden == false" ion-fab (click)="takePhoto()">
        <ion-icon [hidden]="overlayHidden == false" name="camera"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab [hidden]="overlayHidden == false" class="libraryButton" bottom left *ngIf="randomItem" color="dark">
      <button [hidden]="overlayHidden == false" ion-fab (click)="getPhotoLibrary()">
        <ion-icon [hidden]="overlayHidden == false" name="arrow-dropright-circle"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab [hidden]="overlayHidden == false" top left *ngIf="randomItem" color="dark">
        <button [hidden]="overlayHidden == false" ion-fab (click)="reset()">
          <ion-icon [hidden]="overlayHidden == false" name="refresh-circle"></ion-icon>
        </button>
      </ion-fab>
      
      <ion-list [hidden]="overlayHidden == false" *ngIf="sentences">
      <ion-item *ngFor="let myItem of items">
        <button ion-button (click) ="onSubmit(myItem.text)">
            {{myItem.text}}
        </button>
    </ion-item>
  </ion-list>

    <img *ngIf="myphoto" [hidden]="overlayHidden == false" src="{{myphoto}}"/>

    <ion-card *ngIf="mylabels" [hidden]="overlayHidden == false">
      <ion-card-content>
        <ion-list no-lines>
            <ion-list-header>Labels found</ion-list-header>
          <ion-item *ngFor="let label of mylabels">{{label.description}} score :  {{label.score}}</ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

  <div class="superButton" *ngIf="loose || win">
    <p class="loose" *ngIf="loose">Lost</p>
    <p class="win" *ngIf="win">Won !!</p>
    <p class="continue" *ngIf="loose || win">Continue ?</p>
    <button ion-button class="yesButton" *ngIf="loose || win" (click)="reset()" color="secondary">yes</button>
    <button ion-button class="noButton" *ngIf="loose || win" (click)="quit()" color="danger">no</button>
    <p>{{hideOverlay()}}</p>
  </div>
</ion-content>