page-home {

    .container{
        background-image: url('../../img/fond_app.jpg');
    }

    .overlay{
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        z-index: 1;
        top: 0;
        left: 0;
    }

    .randomButton{
        margin-top: 50%;
    }

    .randomItem{
        text-align: center;
        font-size: 25px;
        color: white;
    }

    .timer{
        font-size: 25px;
        text-align: center;
        color: white;
    }

    .win{
        top: 40%;
        margin-left: 40%;
        color: white;
        z-index: 3;
    }

    .loose{
        top: 40%;
        margin-left: 50%;
        color: white;
        z-index: 3;
    }

    .continue{
        top: 50%;
        margin-left: 40%;
        color: white;
        z-index: 3;
    }

    .superButton {
        position: fixed;
        top: 50%;
        left: 30%;
        font-size: 40px;
        width: 100%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        z-index: 3;
      }
      .yesButton {
        top: 70%;
        left: 45%;
        z-index: 3;
      }
      .noButton {
        top: 70%;
        left: 60%;
        z-index: 3;
      }
}
